apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
  namespace: project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      securityContext:
        fsGroup: 1000
      volumes:
        - name: todo-image
          persistentVolumeClaim:
            claimName: todo-app-claim
      containers:
        - name: todo-app
          image: jobatabs/todo-app
          volumeMounts:
          - name: todo-image
            mountPath: /app/static
          env:
          - name: PORT
            value: "5000"
